<!DOCTYPE html>
<html lang="pt-BR" ng-app="mainApp">
<head>
	<title>AngularJS Material</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.8/angular-material.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body ng-controller="MainController">

	<div layout="column">
		<md-toolbar layout-padding>
			<md-toolbar-tools layout="row">
				<h1 class="md-title" flex>AngularJS Material</h1>
				<md-button ng-click="showMenu()"><md-icon>menu</md-icon></md-button>
			</md-toolbar-tools>		
		</md-toolbar>
		<div layot="row">
			<md-sidenav md-component-id="left-menu" layout="column" layout-align="start">
				<md-toolbar layout-padding>
					<md-toolbar-tools>
						<h2 class="md-title">Left SideNav</h2>
					</md-toolbar-tools>
				</md-toolbar>
				<md-list>
					<md-list-item ng-click="clickMenuItem()">Item 1</md-list-item>
					<md-list-item ng-click="clickMenuItem()">Item 2</md-list-item>
					<md-list-item ng-click="clickMenuItem()">Item 3</md-list-item>
				</md-list>
			</md-sidenav>
			<div layout="column" layout-padding>		
				<md-content flex>
					<h2 class="md-subhead">Buttons</h2>
					<md-button class="md-raised md-primary">Button</md-button>	
					<md-button>
					 	<md-icon md-font-icon="icon-home" ng-style="{color: 'green', 'font-size':'36px', height:'24px'}">home</md-icon>
					</md-button>
					<md-icon>home</md-icon>
					<md-divider></md-divider>
					<h2 class="md-subhead">Datepicker</h2>			
					<md-datepicker ng-model="birthday"></md-datepicker>			
					<md-divider></md-divider>
					<h2 class="md-subhead">Dialog</h2>
					<md-button class="md-raised md-primary" ng-click="showAlert()">Show Alert</md-button>
				</md-content>
			</div>
		</div>
	</div>
	
	

	<!-- AngularJS -->	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-aria.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-messages.min.js"></script>
	<!-- Angular Material -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.8/angular-material.min.js"></script>
	<!-- Scripts da aplicação -->
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/controllers/mainController.js"></script>
</body>
</html>